@import url(https://fonts.googleapis.com/css?family=Lora&display=swap);

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Lora';
}

nav {
	display: flex;
	margin:  auto 5%;
	justify-content: space-between;
	/*   flex-direction: row; */
	align-items:center;
	padding: 15px;
	/*  border: 1px solid #51c874;*/

}

.logo {
/*   background-color: green; */
/*	padding: 16px;*/
  order: 1;
  flex-grow: 1;
}

.links {
   /*background-color: orange; */
  order: 2; 
  flex-grow: 5;
  justify-content: space-around;
}

.links li {
   list-style-type: none;
   display: inline-block;
 
}

.links li a {
/*   background-color: red; */
  padding: 16px;
  text-decoration: none;
  color: inherit;

  
}

.link::after {
  content: '';
  width: 0;
  height: 2px;
  background-color: pink;
  display: flex;
  transition: width .3s ease-out;
  position: relative;
  top:13px;
}

.link:hover::after{
  width: 100%;
  transition: width .6s ease;
  margin-bottom: 3px;
}

.searchLogoWrap {
   	position: absolute;
   	right: 70px;
	display: inline-block;
}

.inputSearch {
	position: relative;	
	background: url('../images/search.svg');
	background-repeat: no-repeat;
	background-position: right center;
	height: 23px;
	border: none;
	outline: none;
	width: 10px;
	transition: width .6s ease-out;
	padding: 12px 20px 12px 40px;
	font-size: 1rem;
	cursor: pointer;
}

.inputSearch:focus {
	width: 100%;
	height: 23px;
	border-bottom: 2px solid pink;
}

.container {
	margin: auto 5%;
}

.responsive {
	max-width: 100%;
	animation: imagesLand 1s ease-in;
}

.space {
	margin-top: 4rem;
}

@keyframes imagesLand {

	0% {
		transform: translateY(-50px);
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


h1 {
	font-size: 2.8125rem;
	line-height: 1.2;
}

/* --- Media queries ---  */

@media (max-width: 450px) {
	nav {
		   flex-direction: column; 
		   height: 100vh;
	}


	.links li
	{
		display: flex;
		   flex-direction: column; 
	}
	
}