@import url(https://fonts.googleapis.com/css?family=Lora&display=swap);

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Lora';
}

.navbar {
	position: relative;
	width: 100%;
	margin: 24px 0;
}

.navbar-layout {
	display: flex;
	justify-content: space-between;
}

.container-navbar { 
	width: 100%;
    max-width: 1380px;
    padding: 0 24px;
}

.logo {
  order: 2;
  flex-grow: 1; 
}

.links {
  order: 2; 
  flex-grow: 5;
  justify-content: space-around;
}

.links li {
   list-style-type: none;
   display: inline-block;
}

.links li a {
  padding: 16px;
  text-decoration: none;
  color: inherit;
}

.link::after {
  content: '';
  width: 0;
  height: 2px;
  background-color: pink;
  display: flex;
  position: relative;
  top: 3px;

}

.link:hover::after{
  width: 100%;
  /* transition: width 1s ease; */
  margin-bottom: 3px;
  animation: barLinks .3s ease-in;
}

@keyframes barLinks {

	0% {
		transform: translateY(25px);
	}
	50% {

	}
	100% {
	
	}
}

.searchLogoWrap {
   	position: absolute;
   	right: 26px;
	display: inline-block;
}

.inputSearch {
	position: relative;	
	background: url('../images/search.svg');
	background-repeat: no-repeat;
	background-position: right center;
	height: 23px;
	border: none;
	outline: none;
	width: 10px;
	transition: width .6s ease-out;
	padding: 12px 20px 12px 0px;
	font-size: 1rem;
	cursor: pointer;
}

.inputSearch:focus {
	width: 100%;
	height: 23px;
	border-bottom: 2px solid pink;
	animation: searchBar .3s ease-in;
}

@keyframes searchBar {
	0% {
		transform: translateY(10px);
	}
	50% {

	}
	100% {

	}
}
.container {
	margin: auto 5%;
	display: flex;

}

.test {
	height: 100vh;
}

.articles {
	flex: 60%;	
}

.acide {
	flex: 40%;
	padding-left: 2rem;

}
.header-container {
	position: relative;
}

.heading {
	color: white;
	position: absolute;

	max-width: 60%;
	/* padding: 0px 24px; */

	top: 50%;
	left: 3%;
	transform: translate(0%, -50%);
	animation: smooth s ease-in;
	font-size: 3vw;
	
}

.responsive {
	max-width: 100%;
	animation: headerImg .1s ease-in;
}

@keyframes headerImg {
	0% {
		transform: translateY(20px);

	}
	50% {


	}
	100%{

	}
}

.niceLandOfPages {
	animation: smooth 1s ease-in;
}

.space {
	margin-top: 4rem;
}

@keyframes smooth {

	0% {
		transform: translateY(50px);
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


h1 {
	font-size: 2.8125rem;
	line-height: 1.2;
}

/* --- Media queries ---  */

@media (max-width: 450px) {
	.navbar {
		   /* flex-direction: column; */
		   margin: 0;

	}

	.navbar-layout {
		flex-direction: column;
		align-items: center;
		height: 100vh;
	}

	.links {
		width: 100%;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	.links ul {
		width: 100%;		
	}

	.links li
	{
		display: inline-block;
		width: 100%;
	}

	.links li a {
		display: inline-block;
		padding: 13px;
	  width: inherit;
	/*   margin: auto 0px; */
	 text-align: center;
	}

	.searchLogoWrap {
		position: relative;
		top: 5rem;
		right: 0;
		display: inline-block;
		width: 100%;
	}

	.inputSearch {
		padding: 12px 32px 19px 0px;
		margin: auto;
		display: block;
	}

	.heading {
		max-width: 90%;
		font-size: 8vw;
		text-align: center;
	}

	.responsive {
		object-fit: cover;
		height: 100vh;
	}

	.container {
		flex-direction: column;
	}

	.hamburger-container {
		position: absolute;
		top: 0;
		z-index: 1;
		right: 13px;
		padding: 13px 0 0 13px;
		cursor: pointer;	
	}

	.hamburger {
		border: 3px solid white;
		margin-bottom: 5px;
		width: 10%;
		display: block;
		border-radius: 50%;
	    box-shadow: 0px 1px 0px black;		
	}

	.acide {
		order: 1;
		padding: 0;
	}

	.articles {
		order: 2;
	}

	h1 {
		font-size: 0.9rem;
		line-height: 1.2;
	}
}

@media only screen and (min-width: 600px) {
	.container-navbar {
		display: block  !important;
	}
}